#wp-admin-bar-wp-heart-throb .ab-icon {
	position: relative;
	font: normal 20px/1 dashicons;
	speak: none;
	float: left;
	padding: 0px;
	margin: 6px 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
}

#wp-admin-bar-wp-heart-throb .ab-icon:before {
	content: "\f487";
}

@keyframes beat {
	from { transform: none; }
	50% { transform: scale(1.1); }
	to { transform: none; }
}

@keyframes pound {
	from { transform: none; }
	50% { transform: scale(1.4); }
	to { transform: none; }
}

@keyframes flash {
	from {}
	50% { color: #c41111; }
	to {}
}

#wp-admin-bar-wp-heart-throb .ab-icon:not(.beat) {
	animation: beat 1s infinite;
}

#wp-admin-bar-wp-heart-throb .ab-icon.beat {
	animation: pound 0.5s infinite;
}

#wp-admin-bar-wp-heart-throb .ab-icon.beat:before {
	animation: flash 0.5s infinite;
}